abbr[title] {
  text-decoration: none;
}

.react-calendar__tile--rangeStart {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.react-calendar__tile--rangeEnd {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.react-calendar__tile--active {
  background: #4FC3F7
}

.react-calendar__tile--active:enabled:focus {
  background: #4FC3F7
}

.react-calendar__tile-firstSelectedPrevious1 {
  background: #255525;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.react-calendar__tile-lastSelectedPrevious1 {
  background: #255525;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.react-calendar__tile-selectedPrevious1 {
  background: #255525;
}

.react-calendar__tile-firstSelectedPrevious2 {
  background: #559364;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.react-calendar__tile-lastSelectedPrevious2 {
  background: #559364;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.react-calendar__tile-selectedPrevious2 {
  background: #559364;
}

.react-calendar__tile-firstSelectedPrevious3 {
  background: #016367;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.react-calendar__tile-lastSelectedPrevious3 {
  background: #016367;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.react-calendar__tile-selectedPrevious3 {
  background: #016367;
}

.react-calendar__tile-firstSelectedPrevious4 {
  background: #44af92;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.react-calendar__tile-lastSelectedPrevious4 {
  background: #44af92;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.react-calendar__tile-selectedPrevious4 {
  background: #44af92;
}

.react-calendar__tile-firstSelectedPrevious5 {
  background: #9fedd4;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.react-calendar__tile-lastSelectedPrevious5 {
  background: #9fedd4;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.react-calendar__tile-selectedPrevious5 {
  background: #9fedd4;
}

.react-calendar__tile-firstSelectedPrevious6 {
  background: #d6dfc2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.react-calendar__tile-lastSelectedPrevious6 {
  background: #d6dfc2;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.react-calendar__tile-selectedPrevious6 {
  background: #d6dfc2;
}